In [1]:
from sklearn.preprocessing import LabelEncoder

In [6]:
L=['Facebook','Google','Yahoo','Twitter','Google']

In [7]:
le=LabelEncoder()

In [8]:
le_comp=le.fit_transform(L)

In [9]:
le_comp

array([0, 1, 3, 2, 1], dtype=int64)

In [10]:
import pandas as pd

In [11]:
house=pd.read_csv(r'C:\Users\HP P DTS\Desktop\Machine Learning\Data Set\house_cat.csv')

In [12]:
house.head()

              town  area   price
0  monroe township  2600  550000
1  monroe township  3000  565000
2  monroe township  3200  610000
3  monroe township  3600  680000
4  monroe township  4000  725000

In [13]:
le_town=LabelEncoder()

In [14]:
house['town_class']=le_town.fit_transform(house['town'])

In [15]:
house.head()

              town  area   price  town_class
0  monroe township  2600  550000           0
1  monroe township  3000  565000           0
2  monroe township  3200  610000           0
3  monroe township  3600  680000           0
4  monroe township  4000  725000           0

In [16]:
house

               town  area   price  town_class
0   monroe township  2600  550000           0
1   monroe township  3000  565000           0
2   monroe township  3200  610000           0
3   monroe township  3600  680000           0
4   monroe township  4000  725000           0
5      west windsor  2600  585000           2
6      west windsor  2800  615000           2
7      west windsor  3300  650000           2
8      west windsor  3600  710000           2
9       robinsville  2600  575000           1
10      robinsville  2900  600000           1
11      robinsville  3100  620000           1
12      robinsville  3600  695000           1