In [1]:
import pandas as pd

In [2]:
house=pd.read_csv(r'C:\Users\HP P DTS\Desktop\Python Classes\DataSet\House_Price_Mult.csv')

In [3]:
house.head()

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [5]:
import numpy as np
house['Bedroom']=house['Bedroom'].replace(np.NaN,3)

In [6]:
house

   Area  Bedroom  Age   Price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000
5  3100      6.0    6  850000
6  3800      4.0   10  750000
7  2800      3.0    2  580000
8  3700      4.0    6  625000
9  2500      3.0   10  500000

In [7]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [8]:
house.columns

Index(['Area', 'Bedroom', 'Age', 'Price'], dtype='object')

In [9]:
model.fit(house.drop('Price',axis=1),house['Price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
model.coef_

array([ 6.01125077e+01,  8.11479440e+04, -1.47406365e+02])

In [11]:
model.intercept_

137816.99265206116

In [12]:
from sklearn.externals import joblib

In [13]:
joblib.dump(model,'E:\housemult')

['E:\\housemult']